.swap-token-container {

*:focus {
    outline: none;
}

.react-autosuggest__suggestions-list {
  padding-left: 0;
  list-style: none;
  .token-label-container {
    text-align: left;
    padding-left: 20px;
  }
  .token-preview-text {
    margin-left: 10px;
  }
}

.token-preview-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
 
}
.token-label-container {
  display: inline-block;
    background: #f5f5f5;
width: 100%;
    height: 100%;
    vertical-align: middle;
    padding-top: 10px;
    
}
.token-preview-text {
  display: inline-block;
  font-weight: 500;
   margin-right: 6px;
   margin-left: 6px;
   font-size: 16px;
}

.dropdown-circle {
  margin-right: 12px;
}
.arrow-container {
  font-size: 20px;
}
.bottom-arrow-container {

}

.token-transfer-arrow-container {
  margin-top: 34px;
}

.select-list-token-label {
  text-align: left;
  padding-left: 20px;
}

.token-select-dropdown {
  position: absolute;
    top: 20px;
    left: 16px;
    margin-top: 30px;
    width: 180px;
    height: 30px;
}

.token-transfer-label {
  text-align: left;
  margin-top: 6px;
  margin-bottom: 12px;
}
.token-label-amount-container {
  border-radius: 4px;
  height: 50px;
  border: 1px solid #a9a9a9;
   
   .row {
     height: 100%;
   }
   .form-control {
         width: 100%;
    height: 100%;
    outline: none;
    border: none;
   }
   
   .token-label-select-col {
     padding-right:0;
   }
   .token-amount-col{
     padding-left: 0;
   }

}
.card {
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
  margin: 20px;
  position: relative;
  margin-bottom: 50px;
  transition: all .2s ease-in-out;
  width: 100%;
  
}

.card:hover {
  /*box-shadow: 0 5px 22px 0 rgba(0,0,0,.25);*/
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-bottom: 54px;
}

.image {
  height: 200px;
  opacity: .7;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.image:hover,
.card:hover .image {
  height: 200px;
  opacity: 1;
}

.text {
  background: #FFF;
  padding: 20px;
  min-height: 200px;
}

.text p {
  margin-bottom: 0px;
}

.fab {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  margin-top: -50px;
  right: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  background: #0066A2;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

.fab:hover {
  background: #549D3C;
  cursor: pointer;
  -ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
}