

.current-selection-card {
    background: #F2F2F2;
    min-height: 500px;
  border-radius: 4px;
  padding-top: 6px;
}

.create-form-container {
  width: 80%;
  margin-left: 10%;
  text-align: left;
  
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-toolbar-container {
      background: #F2F2F2;
    color: #0D0D0D;
    min-height: 220px;
}

.create-pool-form-container{
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 6px;
  padding-right: 6px;
}

// Range slider styles
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.form-submit-container {
  margin-bottom: 20px;
  .weight-subtext {
    font-size: 12px;
    color: #000;
  }
}

.receipt-page-container {
  min-height: 220px;
  height: auto;
  background: #f2f2f2;
}