

.current-selection-card {
    background: #F2F2F2;
    min-height: 500px;
  border-radius: 4px;
  padding-top: 6px;
}

.create-form-container {
  width: 80%;
  margin-left: 10%;
  text-align: left;
  
  padding-top: 20px;
  padding-bottom: 20px;
}