

.current-selection-card {
    background: #F2F2F2;
    min-height: 500px;
  border-radius: 4px;
  padding-top: 6px;
}

.create-form-container {
  width: 80%;
  margin-left: 10%;
  text-align: left;
  
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-toolbar-container {
      background: #F2F2F2;
    color: #0D0D0D;
    min-height: 220px;
}

.create-pool-form-container{
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 6px;
  padding-right: 6px;
}