

.current-selection-card {
    background: #F2F2F2;
    min-height: 500px;
  border-radius: 4px;
  padding-top: 6px;
}

.create-form-container {
  width: 80%;
  margin-left: 10%;
  text-align: left;
  
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-toolbar-container {
      background: #F2F2F2;
    color: #0D0D0D;
    min-height: 220px;
}

.create-pool-form-container{
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 6px;
  padding-right: 6px;
}

// Range slider styles
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.form-submit-container {
  margin-bottom: 20px;
  .weight-subtext {
    font-size: 12px;
    color: #000;
  }
}

.receipt-page-container {
  min-height: 220px;
  height: auto;
  background: #f2f2f2;
}

.select-pool-row-1 {
  margin-top: 10px;
  position: relative;
  text-align: left;

}
.selected-pool-image {
  width:100%;
}

.select-pool-group {
  height: auto;
  max-height: 80vh;
  overflow-x: hidden;
  width: 100%;
  overflow-y: scroll;
  background: #fff;

}

.selected-pool-buy-sell-row {
  margin-top: 20px;
  text-align: left;

}

.reserve-token-name-container {

}

.cell-label {
  font-size: 14px;
  font-weight: 500;
}

.cell-data {
    font-size: 12px;
}

.action-info-col {
  padding-left: 10px;
}

.pool-action-btn {
  width: 120px;
  margin-top: 12px;
}

.pool-options-list {
  background: #fff;
}

.loading-spinner {
  margin-top: 100px;
}

.graph-message-text {
  padding-top: 100px;
  text-align: center;
}

.volume-graph-container {
    background: #fff;
    height: 300px;
    margin: 8px 6px;
    margin-right: 12px;
    border-radius: 4px;
    border: 2px solid #D9D9D9;
    position: relative;
}

.selected-pool-meta-row {
  text-align:left;
  margin-top: 16px;
  margin-bottom: 40px;
}

.pool-logo-container {
  background: #fff;
  border: 2px solid #D9D9D9;
  border-radius: 1px;
  padding-top: 4px;
}

.pool-activation-btn {
  margin-top: 20px;
  margin-bottom: 40px;
}

.activation-text {

    color: #404040;
}
.activation-sub-text {
  font-weight: 600;
  font-size: 12px;
  margin-top: 20px;
  color: #A6A6A6;
}

.activation-heading {
  margin-top: 20px;
}

.search-icon {
      position: absolute;
    right: 30px;
    top: 12px;
}

.coming-soon-text {
  text-align: center;
  margin-bottom: 8px;
}

.select-pool-toolbar {
  cursor: pointer;
}

.toggle-btn {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 30px;
    margin-bottom: 6px;
    background: #fff !important;
    color: #000 !important;
    border: 1px solid #d3d3d3 !important;
}

.toggle-btn:selected {
  outline: none !important;
}

button:focus {outline:0 !important;}

.button-active {
  background: #0D0D0D !important;
  color: #fff !important;
  
}

.amount-row {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  height: 30px !important;
}

.add-pool-converter-form {
  margin-top: 20px !important;
}

.btn-toggle-container {
  text-align: right;
}

.no-pad-col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.remove-icon-btn {
      position: absolute;
    right: -20px;
    top: 56px;
    color: #dc3545;
    cursor: pointer;
}

.token-weight-slider-container {
  padding-top: 10px !important;
}

.slider {
  margin-top: 10px;
}

.add-pool-form-header {
  border-bottom: 2px solid #a9a9a9 !important;
  .header {
    font-weight: 600;
    margin-top: 6px;
  }
}

.row-add-btn {
      background: #fff !important;
    border: 1px solid #a9a9a9 !important;
    color: #28a745 !important;
}

.fees-row {
  margin-top: 20px ;
}

.pool-funding-form-row {
  text-align: left;
}

.pool-details-block {
  background: #fff;
  text-align: left;
  padding-left: 20px;
  .cell-label {
    font-weight: 600;
    font-size: 11px;
  }
  .cell-value {
    font-weight: 500;
    font-size: 14px;    
  }
}

.holdings-label {
  display: inline-block;
}

.holdings-data {
  display: inline-block;  
}

.cell-active {
-webkit-box-shadow: inset -2px 2px 10px -5px rgba(64,64,64,1);
-moz-box-shadow: inset -2px 2px 10px -5px rgba(64,64,64,1);
box-shadow: inset -2px 2px 10px -5px rgba(64,64,64,1);
    background: #A6A6A6 !important;
    color: #0D0D0D;
        
}

.broadcast-container {
  display: inline-block;
  .address-display-container {
    display: inline-block;
    font-size: 14px;
  }
}