

.current-selection-card {
    background: #F2F2F2;
    min-height: 500px;
  border-radius: 4px;
  padding-top: 6px;
}

.create-form-container {
  width: 80%;
  margin-left: 10%;
  text-align: left;
  
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-toolbar-container {
      background: #F2F2F2;
    color: #0D0D0D;
    min-height: 220px;
}

.create-pool-form-container{
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 6px;
  padding-right: 6px;
}

// Range slider styles
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.form-submit-container {
  margin-bottom: 20px;
  .weight-subtext {
    font-size: 12px;
    color: #000;
  }
}

.receipt-page-container {
  min-height: 220px;
  height: auto;
  background: #f2f2f2;
}

.select-pool-row-1 {
  margin-top: 10px;
  position: relative;
  text-align: left;

}
.selected-pool-image {
  width:100%;
}

.select-pool-group {
  height: 70vh;
  width: 100%;
  overflow-y: scroll;
  background: #fff;

}

.selected-pool-buy-sell-row {
  margin-top: 20px;
  text-align: left;

}

.reserve-token-name-container {

}

.cell-label {
  font-size: 14px;
  font-weight: 500;
}

.cell-data {
    font-size: 12px;
}

.action-info-col {
  padding-left: 10px;
}

.pool-action-btn {
  width: 120px;
  margin-top: 12px;
}

.pool-options-list {
  background: #fff;
}

.loading-spinner {
  margin-top: 100px;
}

.graph-message-text {
  padding-top: 100px;
  text-align: center;
}

.volume-graph-container {
    background: #fff;
    height: 300px;
    margin: 8px 6px;
    margin-right: 12px;
    border-radius: 4px;
    border: 2px solid #D9D9D9;
    position: relative;
}

.selected-pool-meta-row {
  text-align:left;
  margin-top: 16px;
  margin-bottom: 40px;
}

.pool-logo-container {
  background: #fff;
  border: 2px solid #D9D9D9;
  border-radius: 1px;
  padding-top: 4px;
}

.pool-activation-btn {
  margin-top: 20px;
  margin-bottom: 40px;
}

.activation-text {

    color: #404040;
}
.activation-sub-text {
  font-weight: 600;
  font-size: 12px;
  margin-top: 20px;
  color: #A6A6A6;
}

.activation-heading {
  margin-top: 20px;
}

.search-icon {
      position: absolute;
    right: 30px;
    top: 12px;
}