.explore-tokens-container {
    background: #f2f2f2;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 40px;
}

.symbol-image {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.item-symbol {
    display: inline-block;
}

.token-display-cell {
    text-align: left;
    cursor: pointer;
    .item-symbol {
        padding-left: 4px;
    }
}

.cell-active {
-webkit-box-shadow: inset -2px 2px 10px -5px rgba(64,64,64,1);
-moz-box-shadow: inset -2px 2px 10px -5px rgba(64,64,64,1);
box-shadow: inset -2px 2px 10px -5px rgba(64,64,64,1);
    background: #A6A6A6 !important;
    color: #0D0D0D;

}

.token-selector-list {
    max-height: 80vh;
    overflow-y: scroll;
}

.token-path-display {
    text-align: left;
}

.view-paths-container {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    .token-label-cell {
        font-size: 12px;
    }
}



.explore-paths-container {
    padding-left: 2px !important;
    padding-right: 10px !important;
}

.path-conversion-price{
 font-size: 12px;
 font-weight: 600;
}

.path-swap-btn {
    width: 100% !important;
    height: 28px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.token-info-block {
    text-align: left;;
    -webkit-box-shadow: inset -2px 2px 10px -5px rgba(64,64,64,1);
-moz-box-shadow: inset -2px 2px 10px -5px rgba(64,64,64,1);
box-shadow: inset -2px 2px 10px -5px rgba(64,64,64,1);
background: #fff;
border-radius: 4px;
padding: 6px 4px !important;
margin-top: 10px;
}

.token-info-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.conversion-path-header {
    text-align: left;
    margin-top: 20px;

    margin-bottom: 0;
}

.view-toggle-container {
    background: #fff;
    width: 100%;
    cursor: pointer;
    font-weight: 500;
}

.best-path {
    border: 2px solid rgba(40,167,69, 0.5) !important;
    -webkit-box-shadow: 2px 2px 2px 0px #f5f5f5;
-moz-box-shadow: 2px 2px 2px 0px #f5f5f5;
box-shadow: 2px 2px 2px 0px #a9a9a9;
}

.path-row {
    border-radius: 2px !important;
}

.path-label-container {
    .input-group {
        float: right;
        margin-bottom: 0 !important;
    }
.input-group-text {
     font-size: 12px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    height: 28px !important;
    margin-bottom: 10px;
    display: inline-block;
}
.path-label {
    display: inline-block;
}
.swap-amount-input {
    font-size: 12px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    height: 28px !important;
    margin-bottom: 10px;
    display: inline-block;
}
}

.explore-token--loading-container {
    margin-top: 50px;
    font-size: 30px;
}

.swap-token-loading-container {
    margin-top: 50px;
    font-size: 20px;
}

.explore-tokens-toolbar-btngroup {
  float: right;

.btn:focus {
    outline: none !important;
    outline-offset: none !important;
}
.explore-toolbar-btn {
    width: 120px;
    background: #404040 !important;
}

.active-btn {
    border: none;
    outline:none;
    background: #fff !important;
    color: black !important;
    box-shadow: inset -2px 2px 10px -5px #404040;
}

}