.bg-light {
 background: #0D0D0D !important;
 color: #fff !important;
}

.app-top-nav {
  background: #0D0D0D !important;
 color: #fff !important;
 a {
  color: #fff;
 }
 .navbar-brand {
    color: #fff;
 }
}

.navbar-brand {
     color: #fff !important;
}

.nav-item {
  margin-left: 14px;
}

.active  {
  color: #f5f5f5;
}